body {
    font-family: Arial, sans-serif;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.calculator {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.calculator h2 {
    margin-top: 0;
}

#numberOfGlowSticks {
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: rgb(251, 255, 0);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold; /* Added line to make the font bold */
}

button:hover {
    background-color: #b2b500;
}

#result {
    margin-top: 20px;
}
